.section.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $brand-color-dark;
  & * {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    // text-shadow: 1px 1px 2px black;
  }
}
