.section.cover-image-end-text-two-rows {
  position: relative;
  & * {
    color: white;
  }
}

.cover-image-end-text-two-rows__image {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: transparent;
}

.section.cover-image-end-text-two-rows.reverse {
  .cover-image-end-text-two-rows__image {
    right: auto;
    left: 0;
  }
  .row {
    flex-direction: row-reverse !important;
    padding-left: 4rem;
  }
}
