.section {
  box-sizing: border-box;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;
  @include breakpoint(map-get($grid-breakpoints, "lg")) {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  &__header,
  &__body,
  &__footer {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }

  li {
    list-style-type: none;
    margin-bottom: 0.7rem;
  }
  li:before {
    content: "";
    display: inline-block;
    margin-left: -1.3rem;
    border: 0.4rem solid transparent;
    border-left: 0.8rem solid $brand-color;
  }
}
.section.padding-none {
  padding-bottom: 0;
  padding-top: 0;
}

.section {
  &__title {
    color: $brand-color;
  }
}
