.section.cover-image-and-text-two-rows {
  position: relative;
  & * {
    color: white;
  }
  .row {
    flex-direction: row-reverse;
    padding-left: 4rem;
  }
  .cover-image-and-text-two-rows__image {
    right: auto;
    left: 0;
  }
}

.cover-image-and-text-two-rows__image {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.2;
}

.section.cover-image-and-text-two-rows.reverse {
  .cover-image-and-text-two-rows__image {
    right: 0;
    left: auto;
  }
  .row {
    flex-direction: row !important;
    padding-left: 0;
  }
}
@include breakpoint(map-get($grid-breakpoints, "md")) {
  .cover-image-and-text-two-rows__image {
    width: 40%;
    opacity: 1;
  }
}
@include breakpoint(map-get($grid-breakpoints, "lg")) {
  .cover-image-and-text-two-rows__image {
    width: 50%;
  }
}
