.page-header {
    position: relative;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 8px;
        @include breakpoint(map-get($grid-breakpoints, "lg")) {
            padding-top: 30px;
            padding-bottom: 40px;
        }

        .contacts-wrapper {
            display: none;
            @include breakpoint(map-get($grid-breakpoints, "lg")) {
                display: flex;
            }
            margin-left: 50px;

            align-items: center;
            justify-content: space-between;
            & > * {
                margin-left: 34px;
            }
        }
    }
    &__menu {
        background: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
        min-width: 80%;
        position: absolute;
        @include breakpoint(map-get($grid-breakpoints, "lg")) {
            min-width: auto;
            position: relative;
            background: #f7f9f9;
            box-shadow: none;
        }
    }
}
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: $brand-color-dark;
    a {
        color: $gray-700;
    }
    p {
        margin-bottom: 0.2rem;
    }
    &__icon,
    &__content {
        margin-left: 20px;
        max-width: 15rem;
    }
    &__icon {
        font-size: 1.875em;
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
        margin: 0 0 0 1.2rem;
        a {
            display: inline-block;
            font-size: 20px;
            color: $gray-500;
        }
    }
}

.main-menu {
    position: relative;
    padding: 16px 0;
    position: relative;
    @include breakpoint(map-get($grid-breakpoints, "lg")) {
        min-width: 690px;
        display: flex;
        // flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}
.page-header {
    .hamburger {
        padding-left: 0;
    }
}
