.page-header {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0 40px;

        .contacts-wrapper {
            margin-left: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & > * {
                margin-left: 34px;
            }
        }
    }
    &__menu {
        background: #f7f9f9;
    }
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: $brand-color-dark;
    a {
        color: $gray-700;
    }
    p {
        margin-bottom: 0.2rem;
    }
    &__icon,
    &__content {
        margin-left: 20px;
        max-width: 15rem;
    }
    &__icon {
        font-size: 1.875em;
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
        margin: 0 0 0 1.2rem;
        a {
            display: inline-block;
            font-size: 20px;
            color: $gray-500;
        }
    }
}

.main-menu {
    position: relative;
    padding: 16px 0;

    position: relative;
    display: flex;
    // flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    min-width: 690px;
}

.navbar {
    position: relative;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: space-between;

    &,
    & * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        position: relative;
        a {
            color: $gray-900;
        }
    }
    &__sub_navbar {
        display: none;
    }
    & > &__item {
        font-size: 22px;
        line-height: 1em;
    }
    & > &__item.active {
        &,
        & > a {
            color: $brand-color;
        }
    }
    & > &__has-submenu:after {
        content: "\203A";
        display: inline-block;
        font-size: 0.8em;
        transform: rotate(90deg);
    }

    & > &__has-submenu.active:after {
        content: "\2039";
    }

    & > &__has-submenu {
        position: relative;
        .navbar__sub_navbar {
            position: absolute;
            width: 290px;
            background: #313131;
            z-index: 5;
            padding: 16px 27px;
            margin-top: 16px;
            margin-left: -27px;
            font-size: 1rem;

            border-radius: 5px;
            box-shadow: 0 5px 10px 1px rgba(24, 24, 24, 0.3);

            a {
                color: $gray-300;
                display: block;
                margin: 0.3rem 0;
                padding: 0.3rem 0;
            }
            a:hover {
                color: $gray-100;
            }
        }

        &.active {
            .navbar__sub_navbar {
                display: block;
            }
        }
    }
}
