body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: $gray-800;
    background-color: #fff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: 0.03em;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
}
