/**
 * https://www.modularscale.com/
 * https://www.bourbon.io/docs/latest/#modular-scale
 *
*/

$font-base: 1rem; //17pх|15px
$font-base-small: 0.8825rem; //15px|13.2px

$modularscale: (
  base: $font-base $font-base-small,
  //15px
    ratio: 1.414,
  map-get($grid-breakpoints, "md"): (
    base: $font-base $font-base-small,
    //16px
      ratio: 1.5
  ),
  map-get($grid-breakpoints, "lg"): (
    base: $font-base $font-base-small,
    //17px
      ratio: 1.618
  )
);

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: bold;
  line-height: 1.4;
  margin: 0.83em 0 0.83em 0;

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin: 0em 0 1rem 0;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;

  li {
    margin-bottom: 0.52rem;
  }
}

p > ul {
  margin-top: 1;
}

.ms-5 {
  @include ms-respond(font-size, 5);
  line-height: 1.4;
}

h1,
.h1,
.ms-4 {
  @include ms-respond(font-size, 4);
}

h2,
.h2,
.ms-3 {
  @include ms-respond(font-size, 3);
}

h3,
.h3,
.ms-2 {
  @include ms-respond(font-size, 2);
}

h4,
.h4,
.ms-1 {
  @include ms-respond(font-size, 1);
}

.ms-0 {
  @include ms-respond(font-size, 0);
}

h5,
.h5,
small,
.small {
  @include ms-respond(font-size, -1);
}

b,
strong,
.bold,
.b {
  font-weight: bold;
}

sub,
.sub,
sup,
.sup {
  @include ms-respond(font-size, -2);
  font-weight: normal;
}

.ms-5,
h1,
.h1,
.ms-4,
h2,
.h2,
.ms-3,
h3,
.h3,
.ms-2 {
  sub,
  .sub,
  sup,
  .sup {
    @include ms-respond(font-size, -1);
  }
}

sub,
.sub {
  vertical-align: sub;
}

sup,
.sup {
  vertical-align: super;
}
